.eventContainer {
  height: fit-content;
  width: max(20vw, 145px);

  margin-block:2rem;

  display: flex;
  flex-direction: column;

  border: 0.8px solid #3E7CB1;
  border-radius: 16px;

  background-color: rgba(33, 33, 33, 1);

  /* overflow: hidden; */

  transition: all 0.1s ease-in-out;
}

.eventContainer:hover {
  cursor: pointer;
  border-color: white;
  background-color: #3E7CB1;
  /* scale : 1.1; */
}

.eventImageContainer {

    position: relative;
  /* background-image: url("../assets/thumbnail3.png");
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 16px 16px 0px 0px;

  width: 100%;
  aspect-ratio: 1.46; */
}

.eventImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.eventImageContainer::after {
    content: "";
    display: block;
    position: absolute;
  
    inset: 0;
    background: rgba(62, 124, 177, 1);
    border-radius: 16px 16px 0px 0px;
    mix-blend-mode: color;
  }

.eventDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

.eventDescription span {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1;
  text-align: center;

  padding: 0.4rem;
  padding-block: 0.6rem;
}

