.filter {
  position: fixed;
  z-index: 99;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  width: clamp(20rem, 60%, 80rem);
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  border: 1px solid #3e7cb1;

  background: #212121;
}

.editModalContainer {
  /* border: 2px solid red; */
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
}

.form {
  display: grid;

  grid-template-columns: 1fr 2.5fr;
  row-gap: 1rem;

  /* border: 2px solid red; */
  width: 100%;
  margin-block: 3rem;
}

.submitButton {
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 2rem;
  background-color: #3e7cb1;
  margin-block: 0;

  border: none;
  color: white;
  font-size: 1rem;
}
.submitButton:disabled {
  background-color: grey;
  opacity: 0.5;
}

.label {
  /* border: 2px solid red; */
  /* margin-block: 1rem; */
  margin-inline: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;

  display: flex;
  align-items: center;
}

#textarea {
  resize: none;
  width: 90%;
  min-height: 4rem;
  height: 100%;

  font-size: 15px;
}

#inputName {
  width: 90%;
}

#inputImage {
  width: 90%;
  font-size: 1rem;
}

input,
textarea {
  padding: 0 !important;
  border-radius: 0 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: min(1.5rem, 4vw);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: #3e7cb1;
  color: white;

  width: 95%;
  border-radius: 10px;
  padding: 0.1rem;
  margin: 0.2rem;
}

.tag p {
  margin-left: 15px;
  margin-right: auto;
}

.skillDeleteButton,
.skillEditButton {
  height: 40px;
  aspect-ratio: 1/1;
  background-color: transparent;
  padding: 0;
  margin-inline: 0.5rem;
}

.skillDeleteButton img {
  height: 100%;
}

.skillEditButton img {
  height: 60%;
}

.skillAddButton {
  position: absolute;
  left: 5px;
  top: 5px;
  height: fit-content;
  background: transparent;
}

.skillTagContainer {
  margin-block: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    height: 70%;
  }

  .form {
    height: 70%;
    grid-template-columns: 1fr 3fr;
    gap: 0.85rem;
  }

  .submitButton {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
  }

  #textarea {
    height: 100%;
    font-size: 0.8rem;
  }
  .label {
    font-size: 0.8rem;
  }
} */
