:root {
  --club-description-width: 32%;
}

span {
  word-wrap: anywhere;
}

.club-page-loading{
  background-color: rgba(44, 44, 44, 0.3);
  backdrop-filter: blur(3px);
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.club-page-loading > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.club-page-loading span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

.club-page-error{
  background-color: rgba(44, 44, 44);
  backdrop-filter: blur(3px);
  position: fixed;
  display: flex;
  inset: 0;
  z-index: 1000;
}

.club-page-error > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.club-page-error h1 , h2{
  color: white;
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.club-page {
  background: url("/assets/bg.png");
  background-size: contain;
}

.make-page-editable {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  gap: 0.85rem;
  padding: 15px;

  top: 116px;

  z-index: 1;

  width: fit-content;

  background-color: rgba(62, 124, 177, 1);
}

.club-title-container {
  position: relative;

  margin-top: 10vh;
  margin-bottom: 3vh;

  display: flex;
  height: fit-content;

  /* border: 2px solid green; */
  align-items: center;
  justify-content: center;
}

.club-title {
  font-family: "Artega";
  font-style: normal;
  font-weight: 500;
  font-size: max(3.3vw, 1.1rem);
  line-height: 1.1;
  height: fit-content;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.club-description-container {
  /* border: 2px solid blue; */

  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.club-description {
  /* border: 2px solid yellow; */
  margin-right: 5%;
  position: relative;

  width: 32%;

  word-wrap: break-word;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.4;
}

.club-description-textarea {
  width: 100%;
  height: inherit;

  resize: none;
  background: none;
  color: white;

  border-width: 1px;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.4;
  padding: 0;
}

.club-description-save {
  height: 2rem;
  width: fit-content;
  position: absolute;
  top: -2rem;
  right: 0;
  font-size: 0.8rem;
  padding-inline: 0.5rem;
  background-color: rgba(62, 124, 177, 1);
  border-radius: 5px 5px 0 0;
}

.club-description-save:hover {
  background-color: rgba(62, 124, 177, 0.8);
}

.club-description-image-container {
  width: 45%;

  display: flex;
  position: relative;
  align-items: center;
  z-index: 0;

  /* border: 2px solid red; */
  border-radius: 2%;
}

/* .club-description-image {
  height: fit-content;

  background: rgba(62, 124, 177, 1);

  mix-blend-mode: color;
} */

.club-description-image-wrapper {
  position: relative;
  /* border: 2px solid hotpink; */
}

.club-description-image-wrapper > img {
  position: relative;
  width: 100%;
  border-radius: 2%;

  /* border: 2px solid purple; */
}

.club-image-edit-button {
  visibility: hidden;
  cursor: pointer;
  position: absolute;

  inset: 0;
  width: 100%;
  height: 100%;

  padding: 0.25rem;

  /* border: 2px solid #fff; */

  background-color: rgba(44, 44, 44, 0.3);
  /* Add the blur effect */
  backdrop-filter: blur(3px);
}

.club-image-edit-button > img {
  height: 40px;
  filter: invert(1);
}

/* .club-description-image {
  position: relative;

  background:linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ), url("/assets/NAB.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height:100%;

  border: 2px solid purple;
  border-radius: 2%;
} */

/* .club-description-image::after {
  content: "";
  display: block;
  position: absolute;
  height: auto;
  clip-path: url("#club-image-img");
  inset: 0;
  background: rgba(62, 124, 177, 1);

  mix-blend-mode: color;
} */

.club-recruitment {
  background: rgba(44, 44, 44, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  margin-block: 3.5rem;
}

.club-recruitment-title {
  color: #fff;
  font-family: Nollasans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  /* margin-inline: 5%; */

  /* border: 2px solid red; */
}

.club-recruitment-button {
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;

  margin-block: 1rem;

  /* border: 2px solid hotpink; */
}

.club-recruitment-button > a {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;

  font-size: 1.2rem;
  /* line-height: 1.5; */
  padding: 0.2rem 1rem;

  color: #ffffff;
}

.club-previous-work-title {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(3.3vw, 1.5rem);
  line-height: 1.1;

  margin-inline: 5%;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.swiper,
swiper-container {
  overflow-y: visible;
  width: 80%;
}

.club-previous-work-container {
  display: grid;
  grid-auto-flow: column;

  height: fit-content;

  width: 90%;
  margin: auto;

  /* overflow-inline: scroll; */
  overflow-x: scroll;

  gap: 1.4rem;

  margin-block: 1.3rem;
  place-items: center;

  /* border: 2px solid red; */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.club-previous-work-container::-webkit-scrollbar {
  display: none;
}

.club-previous-work-add-button {
  background-color: transparent;
  padding: 0;
  height: 25px;
}

.club-previous-work-add-button > img {
  height: 100%;
  filter: invert(1);
}

.club-skills-required-title {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(3.3vw, 1.5rem);
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.club-skills-required-container {
  /* border: 2px solid #3e7cb1; */
  width: 80%;
  margin: auto;
  margin-block: 2rem;
}

.club-skill-text-list-item{
  position: relative;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.25;
}

.club-skills-list-item-delete,
.club-skills-list-item-edit {
  position: absolute;

  padding: 0;
  right: 0;

  transform: translateX(100%);

  height: 40px;
  aspect-ratio: 1/1;

  background-color: transparent;
}

.club-skills-list-item-delete > img,
.club-skills-list-item-edit > img {
  height: 20px;
  filter: invert(1);
}

.club-skills-list-item-delete {
  top: 0;
}

.club-skills-list-item-delete img {
  height: 35px;
}

.club-skills-list-item-edit {
  bottom: 0;
}

.club-skills-tags {
  width: 95%;
  margin: auto;
  /* border: 2px solid teal; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;

  margin-bottom: 2rem;
}

.club-leadership-container {
  /* border: 2px solid red; */
  width: 80%;
  margin: auto;
  /* margin-block: 3rem; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 10%; */
}

.club-leadership-container-gap {
  column-gap: 1rem;
}

@media (max-width: 1000px) {

  .club-title{
    margin-bottom: 0;
  }
  .club-previous-work-add-button {
    height: 20px;
  }

  .club-description-container {
    flex-direction: column;
  }
  .club-description {
    order: 2;
    width: 80%;
    margin: auto;
  }
  .club-description-save {
    height: 1.5rem;
    font-size: 0.5rem;
    top: -1.5rem;
  }

  .club-description-image-container {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    order: 1;
  }

  .club-recruitment {
    flex-direction: column;
    gap: 0;
    height: 100px;
    justify-content: space-evenly;
  }
  .club-recruitment-title {
    font-size: 1.5rem;
  }
  .club-recruitment-button {
    padding: 0.25rem;
    margin-block: 0;
  }
  .club-recruitment-button > a {
    font-size: 1rem;
  }
}
