:root {
  --club-description-width: 32%;
}

.club-page {
  background: url("/assets/bg.png");
  background-size: contain;
}

.club-title-container {
  position: relative;

  margin-top: 15vh;
  margin-bottom: 3vh;

  display: flex;
  height: fit-content;

  /* border: 2px solid green; */
  align-items: center;
  justify-content: center;
}

.club-title {
  font-family: "Artega";
  font-style: normal;
  font-weight: 500;
  font-size: max(3.3vw, 1.1rem);
  line-height: 1.1;
  height: fit-content;
  text-align: center;
}

.club-description-container {
  /* border: 2px solid blue; */

  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.club-description {
  border: 2px solid yellow;
  margin-right: 5%;
  position: relative;

  width: var(--club-description-width);

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.1;
}

.club-description-textarea {
  width: 100%;
  height: inherit;

  resize: none;
  background: none;
  color: white;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.1;
}

.club-description-save {
  height: 2rem;
  width: fit-content;
  position: absolute;
  top: -2rem;
  right: 0;
  font-size: 0.8rem;
  padding-inline: 0.5rem;
  background-color: rgba(62, 124, 177, 1);
  border-radius: 5px 5px 0 0;
}

.club-description-save:hover {
  background-color: rgba(62, 124, 177, 0.8);
}

.club-description-image-container {
  width: 45%;

  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;

  border: 2px solid red;
  border-radius: 2%;
}

.club-description-image {
  height: fit-content;

  background: rgba(62, 124, 177, 1);

  mix-blend-mode: color;
}

.club-description-image img {
  position: relative;
  width: 100%;
  border-radius: 2%;

  /* border: 2px solid purple; */
}

/* .club-description-image {
  position: relative;

  background:linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ), url("/assets/NAB.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height:100%;

  border: 2px solid purple;
  border-radius: 2%;
} */

/* .club-description-image::after {
  content: "";
  display: block;
  position: absolute;
  height: auto;
  clip-path: url("#club-image-img");
  inset: 0;
  background: rgba(62, 124, 177, 1);

  mix-blend-mode: color;
} */

.club-recruitment {
  background: rgba(44, 44, 44, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 0.75rem;

  margin-block:3.5rem;
}

.club-recruitment-title {
  color: #fff;
  font-family: Nollasans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  /* margin-inline: 5%; */

  /* border: 2px solid red; */
}

.club-recruitment-button {
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;

  margin-block: 1rem;

  /* border: 2px solid hotpink; */
}

.club-recruitment-button > a {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;

  font-size: 1.2rem;
  /* line-height: 1.5; */
  padding: 0.2rem;

  color: #ffffff;
}

.club-previous-work-title {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(3.3vw, 1.5rem);
  line-height: 1.1;

  margin-inline: 5%;

  text-align: center;
}

/* .swiper-button-prev {
  color: red;
}

.swiper-button-next {
  color: #000;
} */

.swiper,
swiper-container {
  overflow-y: visible;
  width: 80%;
}

.club-previous-work-container {
  display: grid;
  grid-auto-flow: column;

  height : fit-content;

  width:90%;
  margin: auto;

  /* overflow-inline: scroll; */
  overflow-x: scroll;

  gap : 1.4rem;

  margin-block: 3rem;

  border: 2px solid red;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.club-previous-work-container::-webkit-scrollbar {
  display: none;
}

.club-skills-required-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;

  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(3.3vw, 1.5rem);
  line-height: 1.5;
}

.club-skills-required-container {
  /* border: 2px solid #3e7cb1; */
  width: 80%;
  margin: auto;
  margin-block:2rem;
}

.club-skills-list-item {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(2vw, 1rem);
  line-height: 1.25;
}

.club-skills-tags {

  width: 95%;
  margin: auto;
  /* border: 2px solid teal; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.club-leadership-container {
  border: 2px solid red;
  width: 80%;
  margin: auto;
  margin-block: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 10%; */
}

.club-leadership-container-gap{
  gap: 1rem;
}

@media (max-width: 700px) {
  .club-description-container {
    flex-direction: column;
  }
  .club-description {
    order: 2;
    width: 80%;
    margin: auto;
  }
  .club-description-save {
    height: 1.5rem;
    font-size: 0.5rem;
    top: -1.5rem;
  }

  .club-description-image-container {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    order: 1;
  }

  .club-recruitment {
    flex-direction: column;
  }
  .club-recruitment-title {
    font-size: 1rem;
  }
  .club-recruitment-button {
    padding:0.25rem;
  }
  .club-recruitment-button > a{
    font-size: 0.75rem;
  }
}
