.por-card {
  position: relative;

  width: 28%;
  min-width: 120px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  border: 0.8px solid #3e7cb1;
  border-radius: 16px;

  background-color: rgba(33, 33, 33, 1);

  /* overflow: hidden; */
  transition: all 0.1s ease-in-out;
  margin-block: 2rem;
}

.por-card span{
  cursor : default;
}

.por-card:hover {
  /* cursor: pointer; */
  outline: white solid 2px;
  background-color: #3e7cb1;
}

.por-card-image-container{
  width: 100%;
  aspect-ratio: 1.4;
}

.por-card-image-container img{
  object-fit: cover;
  /* object-position:top; */
  /* left: 50%; */
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}

.por-card-name {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.5vw, 1rem);
  line-height: 1.1;

  color: #ffffff;

  margin-block: 0.5rem;

  text-align: center;
}

.por-card-position {
  font-family: "Nollasans";
  font-style: normal;
  font-weight: 400;
  font-size: max(1.2vw, 0.8rem);
  line-height: 1.1;

  color: #ffffff;
  margin-bottom: 1rem;

  text-align: center;
}

.deleteButton,
.editButton {
  position: absolute;

  padding: 0;
  top: -40px;
  left: 0;

  height: 40px;
  aspect-ratio: 1/1;

  background-color: transparent;

  /* border: 2px solid #3e7cb1; */

  padding: 2px;
}

.editButton {
  top: -40px;
  left: auto;
  right: 0;
}

.deleteButton img {
  z-index: 2;

  height: 40px;

  object-fit: contain;
  filter: invert(1);
}

.editButton img {
  z-index: 2;

  height: 20px;

  object-fit: contain;
  filter: invert(1);
}
