.skillContainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;

    width:fit-content;
    max-width: fit-content;

    /* margin-top: 3rem; */

    border: 2px solid #3E7CB1;
    background-color: #1E1E1E;

    border-radius: 15px;
    padding: 15px;
}

.skillContainer:hover{
    /* cursor: pointer; */
    outline: white solid 2px;
    background-color: #3E7CB1;
}

.skillContainer div{
    font-size: max(1.3vw, 0.6rem);
}

.skillContainer div{
    cursor : default;
}

@media screen and (max-width: 400px){
    .skillContainer{
        width: 100%;
        padding-block: 0.4rem;
        padding-inline: 0.4rem;
    }
}

