.skillContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;

    border: 2px solid #3E7CB1;
    background-color: #1E1E1E;

    border-radius: 30px;
    padding: 15px;
}