::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.slider {
  position: relative;
  margin: min(3rem, 3vw) 0;
}

.slider-img-box {
  /* width: 100%; */
  /* max-height: 60vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* padding: min(1.7rem, 1.7vw); */
  margin-bottom: min(1rem, 1vw);
  border: 1px #3E7CB1 solid;
  border-radius: min(1.25rem, 1.25vw);
  width: min(31.25rem, 25vw);

}

.slider-img-box>p {
  text-align: center;
  padding: min(2rem, 2vw) min(3rem, 3vw);
  font-family: Nollasans;
  font-size: min(1.5rem, 1.5vw);
  font-weight: 400;
  letter-spacing: 0em;
}

.card-container{
  display: flex;
  flex-direction: column;

}

.img-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min(20.8rem, 16.6vw);
  width: min(31.25rem, 25vw);
  padding: 0;
  position: relative;
}

.img-container-3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(62, 124, 177, 0.64);
  border-radius: min(1.25rem, 1.25vw) min(1.25rem, 1.25vw) 0 0;
  mix-blend-mode: color;
}

.img-container-3>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: min(1.25rem, 1.25vw);
  margin: 0;
  padding: 0;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: min(3.5rem, 3.5vw);
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  transition: all 0.5s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  /* overflow-x: scroll; */

}

.snaps-inline>* {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
  /* display: none; */
  overflow-x: scroll;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}