@font-face {
  font-family: "Artega";
  src:url(./Fonts/Artega.ttf);
}
@font-face {
  font-family: "Nollasans";
  src:url(./Fonts/Nollasans.ttf);
}
body{
  background-color: #212121d9;
  
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  background: url(/assets/bg.png);
  background-size: contain;
  overflow-y: scroll;
}
body::-webkit-scrollbar{
  display: none;
}
a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.3em 1.25em;
  font-size: min(2rem, 1.75vw);
  font-weight: 500;
  font-family: inherit;
  background-color: #3E7CB1;;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: white;
}
button:focus, */
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.img-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(24rem, 18vw);
  width: min(40rem, 30vw);
  padding: 0;
  position: relative;
}

.img-container-1:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(62, 124, 177, 0.64);
  border-radius: min(1.25rem, 1.25vw);
  mix-blend-mode: color;
}

.img-container-1>img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: min(1.25rem, 1.25vw);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
